<div class="root">
  <app-header [selected]="'pokemons'"></app-header>
  <div class="container">
    <div class="chip-container">
      <mat-chip
        class="chip-types type--{{type}}"
        *ngFor="let type of types"
        (click)="getPokemonsByType(type)"
        [disabled]="isLoading"
      >
        {{type}}
      </mat-chip>
    </div>
    <div class="filters">
      <input
        class="filter"
        [(ngModel)]="filterName"
        type="text"
        placeholder="Filter By Name"
        (keyup)="getPokemonsByFilter($event)"
        [disabled]="isLoading"
      >
      <mat-chip
        class="chip-types chip-types--blank type--blank"
        (click)="getReset()"
        [disabled]="isLoading"
      >
        Reset Filters
      </mat-chip>
      <input
        class="filter"
        [(ngModel)]="filterId"
        type="text"
        placeholder="Filter By ID"
        (keyup)="getPokemonsByFilter($event)"
        [disabled]="isLoading"
      >
    </div>

    <app-loading class="loading" *ngIf="isLoading && isFiltered === true"></app-loading>
    <div class="content">
      <div class="pokemon type--{{pokemon.types[0].type.name}}" *ngFor="let pokemon of pokemons" (click)="goToPokemon(pokemon.id)">
        <p class="pokemon-name">{{pokemon.name}}</p>
        <div class="pokemon-bg">
          <img class="pokemon-img" [src]="pokemon.sprite" [alt]="pokemon.name" >
        </div>
        <p class="pokemon-id">#<span *ngIf="pokemon.id <= 9">00</span><span *ngIf="pokemon.id < 99 && pokemon.id >= 10">0</span>{{pokemon.id}}</p>
        <div class="types">
          <div *ngFor="let type of pokemon.types; let index = index">
            <p class="type">{{type.type.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <app-loading class="loading" *ngIf="isLoading && isFiltered === false"></app-loading>
  </div>
  <app-footer></app-footer>
  <div
  *ngIf="!isLoading && nextUrl && isFiltered === false"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getPokemons(nextUrl)"
  ></div>
</div>
