@import "includes.scss";

.root{
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  text-transform: capitalize;
  font-weight: bold;
  margin: 1rem;
  background-color: $gray-800;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
  width: 13.5rem;
  box-shadow: 2px 2px #000000;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(0.75);
  }
}

.pokemon-name {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: $black;
  margin-bottom: 1rem;
  background-color: aliceblue;
  padding: 0.1rem 2rem;
  border-radius: 10px;
  font-weight: $font-semi-bold;
}

.pokemon-img {
  height: 11rem;
  width: 11rem;
}

.pokemon-id {
  margin: 1rem 0;
  padding: 0.1rem 2rem;
  color: $black;
  font-weight: $font-semi-bold;
  font-size: 1.1rem;
}

.types {
  display: flex;
  width: 100%;
  justify-content: center;
}

.type {
  padding: 0.1rem 0.8rem;
  margin: 0 0.5rem;
  border-radius: 10px;
  background-color: #6c64e0;
  font-weight: $font-regular;
}

.newPokemons {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 2rem;
  background-color: #6c64e0;
  width: 15%;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px #000000;
  font-size: 1.5rem;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(0.75);
  }
}

.type {
  &--fire {
    background-color: #ff3e3e;
  }
  &--grass {
    background-color: #0da500;
  }
  &--water {
    background-color: #2462d4;
  }
  &--bug {
    background-color: #5da807;
  }
  &--electric {
    background-color: #ffe600;
  }
  &--psychic {
    background-color: #bf3f9a;
  }
  &--poison {
    background-color: #a70cad;
  }
  &--ground {
    background-color: #a54405;
  }
  &--fairy {
    background-color: #ff00cd;
  }
  &--rock {
    background-color: #55412a;
  }
  &--ghost {
    background-color: #333030;
  }
  &--normal {
    background-color: #888888;
  }
  &--fighting {
    background-color: #a06119;
  }
  &--dragon {
    background-color: #6e85af;
  }
  &--ice {
    background-color: #6bbaff;
  }
  &--dark {
    background-color: #171717;
  }
  &--flying {
    background-color: #2ba068;
  }
  &--steel {
    background-color: #656565;
  }
}

