<div class="root">
  <app-header [selected]="'inicio'"></app-header>
  <div class="container">
    <div class="chip-container">
      <mat-chip class="chip-types type--{{type}}" *ngFor="let type of types" (click)="getPokemonsByType(type)">{{type}}</mat-chip>
      <mat-chip class="chip-types chip-types--blank type--blank" (click)="getReset()">Resetar Filtro</mat-chip>

    </div>
    <app-loading class="loading" *ngIf="isLoading && isFilteredByType === true"></app-loading>
    <div class="content">
      <div class="pokemon type--{{pokemon.types[0].type.name}}" *ngFor="let pokemon of pokemons">
        <p class="pokemon-name">{{pokemon.name}}</p>
        <a class="pokemon-bg" [href]="pokemon.url">
          <img class="pokemon-img" [src]="pokemon.sprite" [alt]="pokemon.name" >
        </a>
        <p class="pokemon-id">#<span *ngIf="pokemon.id <= 9">00</span><span *ngIf="pokemon.id < 99 && pokemon.id >= 10">0</span>{{pokemon.id}}</p>
        <div class="types">
          <div *ngFor="let type of pokemon.types; let index = index">
            <p class="type type--{{pokemon.types[1].type.name}}" *ngIf="pokemon.types[index].type.name !== 'blank'">{{type.type.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <app-loading class="loading" *ngIf="isLoading && isFilteredByType === false"></app-loading>
  </div>
  <app-footer></app-footer>
</div>

<div
  *ngIf="!isLoading && nextUrl && isFilteredByType === false"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="getPokemons(nextUrl)"
></div>
