@import "includes.scss";

.footer-container{
	height: 6rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: $gray-800;
  width: 100%;

	a{
		font-weight: $font-semi-bold;
    transition: color 0.3s;
		&:hover{
			color: $green;
		}
	}
}
