<div class="container">
  <a class="profile-container" href="https://www.linkedin.com/in/marcos-wergles/" target="_blank">
    <img class="profile-container--logo" src="assets/img/logo.svg" alt="Logo Pokedex" />
    <p class="profile-container--name">Pokedex</p>
  </a>
  <nav>
    <ul class="menu">
      <li routerLink="/pokemons" routerLinkActive="ativo">Pokemons</li>
      <li routerLink="/types" routerLinkActive="ativo">Types</li>
      <li>Locates</li>
      <li>Games</li>
      <li>History</li>
    </ul>
  </nav>
</div>
