<div class="container">
	<a class="profile-container" href="https://www.linkedin.com/in/marcos-wergles/" target="_blank">
		<img class="profile-container--logo" src="assets/img/logo.svg" alt="Logo Pokedex" />
		<p class="profile-container--name">Pokedex</p>
	</a>
	<nav>
		<ul class="menu">
			<li [class.focused]="pokemons" (click)="clickToGo('')">Pokemons</li>
			<li [class.focused]="types" (click)="clickToGo('types')">Types</li>
			<li [class.focused]="carreira" (click)="clickToGo('carreira')">Locates</li>
			<li [class.focused]="portifolio" (click)="clickToGo('portifolio')">Games</li>
			<li [class.focused]="contato" (click)="clickToGo('contato')">History</li>
		</ul>
	</nav>
</div>
