@import "reset.scss";
@import "includes.scss";

body {
	background: $black;
	color: $gray-100;
}

body,
input,
textarea,
select,
button {
	font: $font-regular 1rem $font, sans-serif;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}
