@media (max-width: 1366px) {
	html {
		font-size: 90%;
	}
}

@media (max-width: 1080px) {
	html {
		font-size: 75%;
	}
}

@media (max-width: 900px) {
	html {
		font-size: 60%;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 50%;
	}
}

@media (max-width: 550px) {
	html {
		font-size: 45%;
	}
}

@media (max-width: 480px) {
	html {
		font-size: 38%;
	}
}

@media (max-width: 400px) {
	html {
		font-size: 30%;
	}
}

