$gray-100: #d9d9d9;
$gray-300: #a6a6a6;
$gray-600: #595959;
$gray-800: #262626;
$black: #0d0d0d;
$green: #20db2c;

$font: "Roboto";

$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 700;
$font-extra-bold: 900;
